[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/nextcloud/3rdparty.git
[submodule "themes/ionos"]
	path = themes/ionos
	url = ../easystorage-theme.git
[submodule "custom-apps/ionosglobalnav"]
	path = custom-apps/ionosglobalnav
	url = ../ionosglobalnav.git
[submodule "custom-apps/enc_analytics"]
	path = custom-apps/enc_analytics
	url = ../enc_analytics.git
