name: SBOM generation

# SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
# SPDX-FileCopyrightText: 2024 STRATO AG
# SPDX-License-Identifier: AGPL-3.0-or-later

on:
  push:
    branches:
      # Enable once approved
      # - ionos-dev
      - tl/sbom-generation

jobs:
  generate-sbom:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    name: generate-sbom
    steps:
      - name: Checkout server
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          # Submodules are checked independently
          submodules: false

      # SBOM for composer (generate)

      - name: Generate SBOM (composer)
        # Output filename can not be configured, is bom.xml
        # https://github.com/CycloneDX/gh-php-composer-generate-sbom
        uses: CycloneDX/gh-php-composer-generate-sbom@v1

      - name: Rename composer bom.xml to bom.composer.xml
        run: |
          mv bom.xml bom.composer.xml

      # SBOM for NPM (install and generate)

      - name: Set up node with version from package.json's engines
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version-file: "package.json"

      - name: Build Nextcloud
        env:
          FONTAWESOME_PACKAGE_TOKEN: ${{ secrets.FONTAWESOME_PACKAGE_TOKEN }}
        run: |
          npm ci

      - name: Generate SBOM (npm)
        run: |
          npx @cyclonedx/cyclonedx-npm --output-format XML --output-file './bom.npm.xml'

      # Pass BOMs to next Job
      # https://github.com/actions/upload-artifact
      - name: Store partial BOMs
        uses: actions/upload-artifact@v4
        with:
          name: bom-partials
          path: bom.*.xml

  merge-sboms:
    needs: generate-sbom
    runs-on: ubuntu-latest

    # https://docs.github.com/en/actions/writing-workflows/choosing-where-your-workflow-runs/running-jobs-in-a-container
    container:
      image: cyclonedx/cyclonedx-cli:0.27.1

    steps:
      - name: Download partial BOMs
        uses: actions/download-artifact@v4
        with:
          name: bom-partials

      - name: Merge SBOMs
        # https://github.com/CycloneDX/cyclonedx-cli#merge-command
        # Using v1_3 because with the default (1.6) the upload failed at the DT web interface
        #
        # The generated SBOM is fixed with sed to remove potentially bad characters
        # Slashes are not allowed after the @ in the meta/component's bom-ref
        # attribute and purl node.
        run: |
          cyclonedx merge --input-files bom.composer.xml bom.npm.xml --output-file bom.xml --output-version v1_3
          sed -i -r 's;(pkg:composer/__root__)@[^"<]+;\1@merged-sbom;' bom.xml

      # Pass merged BOM to next Job
      # https://github.com/actions/upload-artifact
      - name: Store merged BOM
        uses: actions/upload-artifact@v4
        with:
          name: final-bom
          path: bom.xml

  upload-sboms:
    needs: merge-sboms
    runs-on: ubuntu-latest

    steps:
      - name: Dump merged SBOM
        run: |
          cat bom.xml

      # TODO: upload BOMs
